{{define "layout"}}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{template "title"}}</title>
  <link rel="stylesheet" href="/static/stylesheets/main.css">
   
    <link rel="stylesheet" href="/static/libs/css/bootstrap.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


	<script type="text/javascript" src="/static/libs/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/stylesheets/app.js"></script> 

	<link rel="shortcut icon" href="/static/img/favicon.ico">

</head>
<body>
  {{template "body" .}}
</body>
</html>
{{end}}
