<div class="top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Login using instagram</h1>
                <form action="/login" method="post">
                    <button class="btn btn-default" type="submit" value="login" style="font-size: 16px;">
                      Sign in
                      <i class="glyphicon glyphicon-log-in"></i>
                    </button>
                </form>
            </div><!-- col-md-12 -->
        </div><!-- row -->
    </div><!-- container -->
    <div class="clearfix"></div>
</div><!-- top -->
