<div class="top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><i class="glyphicon glyphicon-search"></i> Search for images to be used for mosaic.</h1>
                <form action="/search" method="post">
                    <input class="form-control" name="searchTerm" type="text" value="{{.searchTerm}}"/>
                    <input class="btn btn-default" type="submit" value="Search" style="font-size: 16px;"/>
                </form>
            </div><!-- col-md-12 -->
        </div><!-- row -->
    </div><!-- container -->
    <div class="clearfix"></div>
</div><!-- top -->
