<!-- TODO: Use jQuery for asynchronous upload along with the progress bar !-->
<div class="top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><i class="glyphicon glyphicon-upload"></i>Upload your base image for the mosaic.</h1>
                <form action="/upload/" method="post" enctype="multipart/form-data">
                <label for="file">Filename:</label>
                <input type="file" name="file" id="file" title="Search for a file to add">
                <input type="submit" name="upload" value="upload">Submit</input>
                </form>
            </div><!-- col-md-12 -->
        </div><!-- row -->
    </div><!-- container -->
    <div class="clearfix"></div>
</div><!-- top -->
